body {
    background: linear-gradient(to bottom, #fff8dc, #ff466b, #dc143c, #5e0013);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
};

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
    padding-left: 0px !important;
}

@media (max-width: 480px) {
    .modal-open {
        padding-right: 0px !important;
    }
}